<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MBINCompilerTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MBINCompilerTests.Properties.Settings>
            <setting name="InputFolder" serializeAs="String">
                <value>D:\Public\Games\Steam\SteamApps\common\No Man's Sky\GAMEDATA\PCUNPACK</value>
            </setting>
        </MBINCompilerTests.Properties.Settings>
    </userSettings>
</configuration>